<div class="mt-4">
  <div>
    <h2 class="d-inline">My courses</h2>
    <a href="./me/trash/courses">
      <img class="float-right img-header" src="https://www.clipartmax.com/png/small/282-2828553_oxygen480-actions-trash-empty-red-recycle-bin-icon.png" alt="Oxygen480 Actions Trash Empty - Red Recycle Bin Icon @clipartmax.com">
      <span class="float-right">{{countDocumentsDeleted}} items</span>
    </a>
  </div>
  <div class="mt-4 d-flex align-items-center">
    <div class="form-check checkbox-select-all">
      <input class="form-check-input" type="checkbox" value="" id="select-all-checkbox">
      <label class="form-check-label" for="select-all-checkbox">
        Select all
      </label>
    </div>
    <div class="input-group mb-3 col-lg-4">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Options</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <button type="button" class="btn btn-danger btn-sm ml-3">Delete</button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Discription</th>
        <th scope="col" colspan="3">Level</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">

            </div>
          </td>
          <td scope="row">{{sum @index 1}}</td>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.level}}</td>
          <td><a
              href="/courses/{{this._id}}/edit"
              class="btn btn-primary"
            >Update</a></td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              data-toggle="modal"
              data-target="#delete-course-modal"
              data-id={{this._id}}
            >
              Delete
            </button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">You don't have any course. 
            <a href="/courses/create"> Add course</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete course }}

<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  aria-labelledby="delete-course-modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-course-modalLabel">Are you sure ??</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete this course ?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
        <button
          id="btn-delete-course"
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Exit</button>
      </div>
    </div>
  </div>
</div>

{{! hidden form }}
<form name="delete-course-form" method="POST"></form>

<script>
  
  //event when delete button is clicked
  document.addEventListener('DOMContentLoaded', () => {
      var courseId; 
      var deleteCourseForm = document.forms['delete-course-form'];
      var checkboxAll = $('select-all-checkbox');

      
      $('#delete-course-modal').on('show.bs.modal', function (event) { 
          var button = $(event.relatedTarget);
          courseId = button.data('id') }) })
          var btnDeleteCourse = document.getElementById('btn-delete-course'); 
          
      //when click delete btn
      btnDeleteCourse.onclick = () => { 
          deleteCourseForm.action = '/courses/' + courseId + '?_method=DELETE';
          deleteCourseForm.submit(); 

      //
      console.log(checkboxAll);

  };

  

</script>